body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(art4.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

header {
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    color: #4CAF50;
}

section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 5px;
    margin: 10px;
}

ul, ol {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
